@using Entities.Enums
@using WebUI.Helper
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-lg-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        İş Takvimi ( Silmek istediğiniz görevin üstüne tıklayın )
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="col-lg-12" id="kanban2"></div>
                <div class="col-lg-12">
                    <div class="kanban-toolbar__title">
                        Yeni Görev Ekle
                    </div>
                    <div class="form-group">
                        <input id="kanban-add-task" class="form-control" type="text" placeholder="Görev Acıklaması" /><br />
                        <select id="kanban-select-task" class="form-control">
                            <option value="">Tür Seçin</option>
                            @foreach (RecordType type in (RecordType[])Enum.GetValues(typeof(RecordType)))
                            {
                                var intType = (int)type;
                                <option value="@intType">@type.GetDescription()</option>
                            }
                        </select>
                        <br />
                        <button class="btn btn-primary" id="addTask">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
